body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 10px 20px;
}

.top-nav {
    display: flex;
    margin-left: 400px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.top-nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    margin-left: 20px;
}

.size-6 {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.search {
    padding: 6px 25px;
    text-align: start;
    border-radius: 3px;
    margin-top: -5px;
    margin-left: 180px;
    margin-right: 50px;
    background-color: rgba(128, 128, 128, 0.081);
    font-size: 15px;
    border: none;
}
.our-story, .key-statistics {
    margin-bottom: 20px;
    text-align: center;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.stat {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    min-width: 150px;
}

.stat h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.stat p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #666;
}

.image-section {
    text-align: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
